pyrogram
tgcrypto
pymongo
motor
marshmallow
umongo
cinemagoer
search_engine_parser
wget
aiofiles
requests
aiohttp
ujson
pyshorteners
datetime
pytz
shortzy
fuzzywuzzy
wheel

python-Levenshtein
opencv-python-headless
python-dotenv
speedtest-cli
humanize
Pillow
psutil
numpy
dnspython
python-decouple
ffmpeg-python
jinja2
apscheduler
colorama
